body{
    background-color: skyblue;
}
h1{
    border: 2px solid black;
    border-radius: 10px;
    background-color:cadetblue;
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    
}

#log, #state{
    border: 1px solid black;
    height: 50px;
    width: 500px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    background-color: #ffa500;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#state{
    background-color: #c3c4c0;
}
.btn-container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}

button{
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: green;
    box-shadow: 5px 5px 7px 0px #00003f;
    border: solid 3px transparent;
    cursor: pointer;
    border-radius: 10px;
      
}
 #stop{
    background-color: #cf0e08;
        
}
